<% if current_user && current_user.role == "Admin" %>
<div class="col-md-offset-4 col-md-8">

  <p>
    <strong>Name:</strong>
    <%= @contact.name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @contact.email %>
  </p>
  <p>
    <strong>Subject:</strong>
    <%= @contact.subject %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @contact.content %>
  </p>


</div>





<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
<% end %>
