<%= form_for(@product, html: {class: 'form-horizontal'}) do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field form-group">
  <%= f.label :name, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :title, class: 'form-control', :placeholder => "Product name" %>
  </div>
</div>
<div class="field form-group">
  <%= f.label :price, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <div class="input-group">
      <div class="input-group-addon">€</div>
      <%= f.number_field :price, :step => 0.1, class: 'form-control', :placeholder => "Define a price" %>
    </div>
  </div>
</div>

<div class="field form-group">
  <%= f.label :description, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_area :description, class: 'form-control', rows: '3', :placeholder => "Write a description of the product" %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :image, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :image, class: 'form-control', :placeholder => "Add the url of the product image" %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :category, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :category_name, data: { autocomplete_source: Category.order(:name).map(&:name)}, :placeholder => "Name the category" %>
    <%# link_to 'Create a category', new_category_path %>
  </div>
</div>

<br>
<div class="actions">
  <div class="col-md-offset-3 col-md-6">
    <%= f.submit  class: "btn btn-primary"%>
  </div>
</div>
<% end %>
